<div class="col-lg-12 text-center mt-2"><img src="../../assets/img/demo_logo.png"></div>
<div class="col-lg-12 d-flex justify-content-center">
    <ul class="nav1">
        <li class="nav-item">
            <div class="box1">
                <div class="text">Yet To Start</div>
            </div>
        </li>
        <li class="nav-item">
            <div class="box2">
                <div class="text">In Progress</div>
            </div>                        
        </li>
        <li class="nav-item">
            <div class="box3">
                <div class="text">Carry Over</div>
            </div>                        
        </li>
        <li class="nav-item">
            <div class="box8">
                <div class="text">Creative Review</div>
            </div>                        
        </li>
        <li class="nav-item">
            <div class="box4">
                <div class="text">Complete</div>
            </div>                        
        </li>                    
        <li class="nav-item">
            <div class="box7">
                <div class="text">QC Done</div>
            </div>
        </li>
        <li class="nav-item">
            <div class="box5">
                <div class="text">Hold</div>
            </div>
        </li>
        <li class="nav-item">
            <div class="box6">
                <div class="text">Break</div>
            </div>                        
        </li>
    </ul>
</div>
