<div class="control-section">
    <div class="col-lg-12 content-wrapper">
        <app-header></app-header>
        <!--
        <ejs-dropdownlist id='ddlelement' #samples [dataSource]='corporateData' [fields]='fields' [placeholder]='text' [allowFiltering]='true' (filtering)='onFiltering($event)'></ejs-dropdownlist>
        <ejs-multiselect id='multiselect-checkbox' #checkbox [dataSource]='resources' [placeholder]='checkWaterMark' [fields]='checkFields'
                [mode]='mode' [popupHeight]='popHeight' [showDropDownIcon]='true' showSelectAll='true' (change)='onChangeResource($event)' [filterBarPlaceholder]='filterPlaceholder'></ejs-multiselect>
        -->
        <ejs-schedule #scheduleObject width='auto' height='auto' cssClass='schedule-excel-export' cssClass='schedule-block-events' cssClass='timeline-resource'
            [currentView]="currentView" [selectedDate]="selectedDate" [group]="group"
            [eventSettings]="eventSettings" (eventRendered)="OnEventRendered($event)"
            (actionBegin)="onActionBegin($event)" (renderCell)="onRenderCell($event)" [showQuickInfo]='showQuickInfo' [timeScale]='timeScale'
            (popupOpen)='onPopupOpen($event)' [showHeaderBar]="showHeaderBar" [rowAutoHeight]='rowAutoHeight' [allowDragAndDrop]='allowDragAndDrop' [allowResizing] = 'allowResizing' startHour ='05:00' endHour='20:00'>
            <e-resources>
                <e-resource field='CorporateID' title='Corporate Name' [dataSource]='corporateData'
                    name='Corporate' textField='text' idField='id' expandedField='Expand'>
                </e-resource>
                <e-resource field='Employee' title='Employee Name' [dataSource]='resourceDataSource'
                 [allowMultiple]='allowMultiple' name='Employee' textField='text' idField='id'  groupIDField='CorporateGroupId'>
                </e-resource>
            </e-resources>
            <e-views>
                <e-view option="TimelineDay" [readonly]="isReadOnly"></e-view>
            </e-views>
            <!--
            <ng-template #editorTemplate let-data>
                <div ngForm #orderForm="ngForm">
              <table *ngIf="data != undefined" class="custom-event-editor" width="100%" cellpadding="5">
                  <tbody>
                      <tr>
                          <td class="e-textlabel">Order Number</td>
                          <td colspan="4">
                              <input id="Subject" class="e-field e-input" type="text" [(ngModel)]="orderData.Subject"
                                  name="Subject" style="width: 100%" />
                          </td>
                      </tr>
                      <tr>
                        <td class="e-textlabel">Order Level</td>
                        <td colspan="4">
                            <ejs-dropdownlist id='Level' class="e-field" data-name="Level" placeholder='Choose Level'
                                [dataSource]='levelData' [fields]='levelFields' [(ngModel)]="orderData.Level">
                            </ejs-dropdownlist>
                        </td>
                    </tr>
                    <tr>
                      <td class="e-textlabel">Order Status</td>
                      <td colspan="4">
                          <ejs-dropdownlist id='Status' class="e-field" data-name="Status" placeholder='Choose Status'
                              [dataSource]='StatusData' [fields]='statusFields' [(ngModel)]="orderData.Status">
                          </ejs-dropdownlist>
                      </td>
                  </tr>
                  <tr>
                    <td class="e-textlabel">From</td>
                    <td colspan="4">
                        <ejs-datetimepicker id="StartTime" class="e-field" data-name="StartTime"
                            format="M/dd/yy h:mm a" (change)="onDateChange($event)"
                             [(ngModel)]="orderData.StartTime"></ejs-datetimepicker>
                    </td>
                </tr>
                <tr>
                    <td class="e-textlabel">To</td>
                    <td colspan="4">
                        <ejs-datetimepicker id="EndTime" class="e-field" data-name="EndTime" format="M/dd/yy h:mm a"
                            (change)="onDateChange($event)" [(ngModel)]="orderData.EndTime"></ejs-datetimepicker>
                    </td>
                </tr>
                      <tr>
                        <td class="e-textlabel">Corporate</td>
                        <td colspan="4">
                            <ejs-dropdownlist id='Corporate' class="e-field" data-name="Corporate" placeholder='Choose Corporate'
                                [dataSource]='corporateData' [fields]='corporateFields' [(ngModel)]="orderData.Corporate">
                            </ejs-dropdownlist>
                        </td>
                    </tr>
                      
                      <tr>
                        <td class="e-textlabel">Employee Name</td>
                        <td colspan="4">
                          <ejs-dropdownlist id='EmployeeId' class="e-field" data-name="EmployeeId" [enabled]='false' placeholder='Choose Employee Name'
                            [dataSource]='resources' [fields]='empFields' [(ngModel)]="orderData.EmployeeId"></ejs-dropdownlist>
                        </td>
                      </tr>
                      <tr>
                          <td class="e-textlabel">Commands</td>
                          <td colspan="4">
                              <textarea id="Description" class="e-field e-input" name="Description" rows="3" cols="50"
                                  value="{{data.Description}}" [(ngModel)]="orderData.Description"
                                  style="width: 100%; height: 60px !important; resize: vertical"></textarea>
                          </td>
                      </tr>
                  </tbody>
              </table>
              </div>
          </ng-template>
          -->
            <ng-template #resourceHeaderTemplate let-data>
                <div class='template-wrap'>
                    <div class="name">{{data.resourceData.text}}</div>
                    <div class="type">{{data.resourceData.type}}</div>
                </div>
            </ng-template>          
        </ejs-schedule>
        <app-footer></app-footer>
    </div>
</div>
